<!-- views/partials/head.ejs -->
<!DOCTYPE html>
<html lang="en">
<head class="navbar">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.7.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Property Checker</title>
</head>