<!-- views/partials/header.ejs -->
<head>
    <a href="/propertychecker">New</a>
    <a href="/propertychecker/favourites">Favourites</a>
    <a href="/propertychecker/hidden">Hidden</a>
    <a href="/propertychecker/tabled">TABULKA</a>
</head>