<% include ./partials/head.ejs %>
<% include ./partials/header.ejs %>
<body>
<div class="columns is-multiline">
    <% console.log('Recieved ',houses.length, ' houses') %>
    <% for(const house of houses) { %>
            <div class="column is-3">
                <div>
                    <p><%= house.checked ?  house.favourite ? "FAVOURITE" : "checked" : "NEW HOUSE" %></p>
                </div>
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="<%= house.coverPicture %>" alt="Cover image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="<%= house.realEstateWebLogo %>" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4"><%= house.name %></p>
                                <p class="subtitle is-6">@<%= house.address %></p>
                            </div>
                        </div>

                        <ul class="content flex flex-column">
                            <li>Cena <%= house.price %></li>
                            <li>Dispozice: <%= house.bedroom %> + <%= house.bathroom %></li>
                            <li>Garaz: <%= house.garage %></li>
                            <li>Added: <%= house.added %></li>
                        </ul>
                        <footer class="card-footer">
                            <a href="<%= house.url %>" target="_blank" class="card-footer-item">Show</a>
                            <form action="/propertychecker/hide" method="post">
                                <button class="btn" type="submit">Hide</button>
                                <input type="hidden" name="_id" value="<%= house._id %>">
                            </form>
                            <form action="/propertychecker/save" method="post">
                                <button class="btn" type="submit">To Favourite</button>
                                <input type="hidden" name="_id" value="<%= house._id %>">
                            </form>
                            <%if (house.favourite && !house.inTable) {%>
                            <form action="/propertychecker/table" method="post">
                                <button class="btn" type="submit">Do tabulky!</button>
                                <input type="hidden" name="_id" value="<%= house._id %>">
                            </form>
                            <%}%>
                        </footer>
                    </div>
                </div>
            </div>
    <% } %>
</div>
</body>
</html>
